* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fontyourface {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
}
a {
  text-decoration: none;
  
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background: #C2C2C2;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 750px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.block-views-blockfront-page-news-block-2 {
  margin-top: 3rem;
}
.form-group:last-child, .panel:last-child, p:last-child {
  margin-bottom: 0;
}
.form-group {
  margin-bottom: 15px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.views-view-grid .views-col {
  float: left;
}
.col-sm-6 {
    width: 50%;
  }
featured_container a:link {
  color: #fff;
  text-decoration: none;
  transition: color 3s ease-out;
}

.text {
  color: white;
  background: blue;
}

#featured_container a:link .shadow_featured, #featured_container a:visited .shadow_featured {
    opacity: 1;
    filter: alpha(opacity=100);
    transition: opacity 2s ease-out;
}
#featured_container .col-sm-6 div {
    position: relative;
    margin-bottom: 3rem;
}
#featured_container .shadow_featured {
    position: absolute !important;
    margin-bottom: 0 !important;
    bottom: 0;
    left: 0;
    min-height: 75%;
    width: 100%;
    background: linear-gradient(to bottom,rgba(255,255,255,0),rgba(255,255,255,0.85));
}